colorlog==6.7.0
homeassistant==2023.8.4
pytest-homeassistant-custom-component==0.13.53 # Matching version for 2023.8.4
pip>=21.0,<23.4
ruff==0.0.275
mypy==1.4.1
dvg-pid-controller==2.1.1
pytest-asyncio